# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2019 Martin Jäger / Libre Solar

if BOARD_MPPT_2420_RC

config BOARD
	default "mppt_2420_rc"

config LIBRE_SOLAR_TYPE_ID
	default 0


if SPI

config SPI_STM32_INTERRUPT
	default y

endif # SPI

endif # BOARD_MPPT_2420_RC
