/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2020 Martin Jäger / Libre Solar
 */

/dts-v1/;
#include <st/g4/stm32g431Xb.dtsi>

/ {
	model = "Libre Solar MPPT 2420 RC";
	compatible = "st,stm32g431";

	pcb {
		compatible = "charge-controller";

		type = "MPPT 2420 RC";
		version-str = "v0.1";
		version-num = <1>;

		hs-voltage-max = <80>;
		ls-voltage-max = <32>;
	};

	dcdc {
		compatible = "dcdc";
		timer = <&timers1>;
		pwm-frequency = <70000>;
		pwm-deadtime = <300>;
		current-max = <20>;
	};

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "charlieplexing-leds";
		gpios = <&gpiob 15 GPIO_ACTIVE_HIGH>;

		pwr {
			states = <1>;
		};
	};

	outputs {
		compatible = "outputs";

		can_en {
			label = "CAN disable / standby";
			gpios = <&gpiob 14 GPIO_ACTIVE_LOW>;
		};

		hv-ext-sense {
			label = "HV external sense and switch";
			gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;
		};
	};

	adc-inputs {
		compatible = "adc-inputs";

		v-low {
			io-channels = <&adc1 12>;
			multiplier = <105600>;
			divider = <5600>;
		};

		v-high {
			io-channels = <&adc1 15>;
			multiplier = <102200>;
			divider = <2200>;
		};

		hv-ext-sense {
			io-channels = <&adc1 11>;
			multiplier = <1>;
			divider = <1>;
		};

		temp-fets {
			io-channels = <&adc1 2>;
			multiplier = <10000>;	// 10k NTC series resistor
			divider = <1>;
		};

		temp-bat {
			io-channels = <&adc1 14>;
			multiplier = <10000>;	// 10k NTC series resistor
			divider = <1>;
		};

		vref-mcu {
			io-channels = <&adc1 18>;
			multiplier = <1>;
			divider = <1>;
		};

		temp-mcu {
			io-channels = <&adc1 16>;
			multiplier = <1>;
			divider = <1>;
		};

		i-dcdc {
			io-channels = <&adc2 1>;
			// amp gain: 68/2.2, resistor: 2 mOhm
			multiplier = <2200>;	// 1000*2.2
			divider = <136>;	// 2*68
		};
	};

	soc {
		// ADC nodes not yet provided by Zephyr, but needed for adc-gain compatibles
		adc1: adc@50000000 {
			compatible = "st,stm32-adc";
			reg = <0x50000000 0x400>;
			clocks = <&rcc STM32_CLOCK_BUS_AHB2 0x00002000>;
			interrupts = <18 0>;
			status = "disabled";
			label = "ADC_1";
			#io-channel-cells = <1>;
		};

		adc2: adc@50000100 {
			compatible = "st,stm32-adc";
			reg = <0x50000100 0x400>;
			clocks = <&rcc STM32_CLOCK_BUS_AHB2 0x00002000>;
			interrupts = <18 0>;
			status = "disabled";
			label = "ADC_2";
			#io-channel-cells = <1>;
		};

		dac1: dac@50000800 {
			compatible = "st,stm32-dac";
			reg = <0x50000800 0x400>;
			clocks = <&rcc STM32_CLOCK_BUS_AHB2 0x00010000>;
			status = "disabled";
			label = "DAC_1";
			#io-channel-cells = <1>;
		};
	};

	aliases {
		uart-dbg = &usart1;
		uart-uext = &usart2;
		spi-uext = &spi1;
		i2c-uext = &i2c1;
	};
};

&usart1 {
	current-speed = <115200>;
	status = "okay";
};

&usart2 {
	current-speed = <115200>;
	status = "okay";
};

&spi1 {
	cs-gpios = <&gpiob 6 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&rtc {
	status = "okay";
};

&flash0 {
	/*
	 * For more information, see:
	 * http://docs.zephyrproject.org/latest/guides/dts/index.html#flash-partitions
	 */
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* Set 4Kb of storage at the end of the 128Kb of flash */
		storage_partition: partition@1f000 {
			label = "storage";
			reg = <0x0001f000 0x00001000>;
		};
	};
};

&iwdg {
	status = "okay";
};

&i2c1 {
	/* shared between UEXT and EEPROM */
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	eeprom@50 {
		// Microchip 24AA32A
		compatible = "atmel,at24";
		reg = <0x50>;
		label = "EEPROM_0";
		size = <32768>;
		pagesize = <32>;
		address-width = <16>;
		/*
		 * timeout of 5 ms as suggested in datasheet seems too optimistic
		 * (several write errors occured during testing)
		 */
		timeout = <7>;
	};
};

/*
// This requires https://github.com/zephyrproject-rtos/zephyr/pull/22832
&can1 {
	bus-speed = <250000>;
	bus-speed-data = <250000>;
	sjw = <1>;
	sjw-data = <1>;
	sample-point = <875>;
	sample-point-data = <875>;
	status = "okay";
};
*/
