[submodule "lib/thingset"]
	path = lib/thingset
	url = https://github.com/ThingSet/thingset-cpp
[submodule "lib/oled-display"]
	path = lib/oled-display
	url = https://github.com/LibreSolar/oled-display-library
[submodule "lib/paho-mqtt"]
	path = lib/paho-mqtt
	url = https://github.com/eclipse/paho.mqtt.embedded-c
[submodule "lib/cicada-modem"]
	path = lib/cicada-modem
	url = https://github.com/LibreSolar/cicada-library
