.pio
.clang_complete
.gcc-flags.json
.vscode/browse.vc.db*
.vscode
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/*.db
.vscode/.browse.c_cpp.db*
src/config.cpp
src/config.h
src/version.h
html
memory.map
