/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2020 Martin Jäger / Libre Solar
 */

/dts-v1/;
#include <st/f0/stm32f072Xb.dtsi>

/ {
	model = "Libre Solar MPPT 2420 LC";
	compatible = "st,stm32f072";

	pcb {
		compatible = "charge-controller";

		type = "MPPT 2420 LC";
		version-str = "v0.10";
		version-num = <10>;

		hs-voltage-max = <55>;
		ls-voltage-max = <32>;
	};

	dcdc {
		compatible = "dcdc";
		timer = <&timers1>;
		pwm-frequency = <70000>;
		pwm-deadtime = <300>;
		current-max = <20>;
	};

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "charlieplexing-leds";
		gpios = <&gpiob 14 GPIO_ACTIVE_HIGH>,
			<&gpiob 15 GPIO_ACTIVE_HIGH>;

		pwr {
			states = <1 0>;
		};

		load {
			states = <0 1>;
		};
	};

	outputs {
		compatible = "outputs";

		load {
			label = "Load output";
			gpios = <&gpiob 2 GPIO_ACTIVE_LOW>;
			current-max = <20>;
			kconfig-flag;	/* make node visible in Kconfig */
		};

		uext_en {
			label = "UEXT enable";
			gpios = <&gpioc 14 GPIO_ACTIVE_LOW>;
		};

		can_en {
			label = "CAN disable / standby";
			gpios = <&gpioa 15 GPIO_ACTIVE_LOW>;
		};

		aux_en {
			label = "5V output enable";
			gpios = <&gpiob 12 GPIO_ACTIVE_HIGH>;
		};

		vbus_en {
			label = "CAN bus power supply enable";
			gpios = <&gpioc 15 GPIO_ACTIVE_LOW>;
		};
	};

	adc-inputs {
		compatible = "adc-inputs";

		temp-bat {
			io-channels = <&adc1 0>;
			multiplier = <10000>;	// 10k NTC series resistor
			divider = <1>;
		};

		temp-fets {
			io-channels = <&adc1 1>;
			multiplier = <10000>;	// 10k NTC series resistor
			divider = <1>;
		};

		vref {
			io-channels = <&adc1 5>;
			multiplier = <1>;
			divider = <1>;
		};

		v-low {
			io-channels = <&adc1 6>;
			multiplier = <110000>;
			divider = <10000>;
		};

		v-high {
			io-channels = <&adc1 7>;
			multiplier = <105600>;
			divider = <5600>;
		};

		i-load {
			io-channels = <&adc1 8>;
			// amp gain: 150/2.2, resistor: 2 mOhm
			multiplier = <2200>;	// 1000*2.2
			divider = <300>;	// 2*150
		};

		i-dcdc {
			io-channels = <&adc1 9>;
			// amp gain: 150/2.2, resistor: 2 mOhm
			multiplier = <2200>;	// 1000*2.2
			divider = <300>;	// 2*150
		};

		temp-mcu {
			io-channels = <&adc1 16>;
			multiplier = <1>;
			divider = <1>;
		};

		vref-mcu {
			io-channels = <&adc1 17>;
			multiplier = <1>;
			divider = <1>;
		};
	};

	aliases {
		uart-dbg = &usart1;
		uart-uext = &usart2;
		spi-uext = &spi1;
		i2c-uext = &i2c1;
	};
};

&usart1 {
	current-speed = <115200>;
	status = "okay";
};

&usart2 {
	current-speed = <115200>;
	status = "okay";
};

&i2c1 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c2 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	eeprom@50 {
		// Microchip 24AA32A
		compatible = "atmel,at24";
		reg = <0x50>;
		label = "EEPROM_0";
		size = <32768>;
		pagesize = <32>;		// 24AA01: 8 bytes
		address-width = <16>;		// 24AA01: 8 bit
		/*
		 * timeout of 5 ms as suggested in datasheet seems too optimistic
		 * (several write errors occured during testing)
		 */
		timeout = <7>;
	};
};

&spi1 {
	cs-gpios = <&gpioc 13 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&iwdg {
	status = "okay";
};

&can1 {
	bus-speed = <250000>;
	status = "okay";
};
