# STM32 Nucleo-64 development board with STM32F334R8 MCU

# Copyright (c) 2016 RnDity Sp. z o.o.
# SPDX-License-Identifier: Apache-2.0

if BOARD_OWNTECH

config BOARD
	default "owntech_board"

config LIBRE_SOLAR_TYPE_ID
	default 0

endif # BOARD_NUCLEO_F334R8
