# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2019 Martin Jäger / Libre Solar

# include generic charge controller Kconfig
rsource "../../Kconfig"

if ADC_STM32

config ADC_1
	prompt "ADC1"
	default y
	help
	  Enable ADC1

config ADC_2
	prompt "ADC2"
	default y
	help
	  Enable ADC2

endif # ADC_STM32
