/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2020 Martin Jäger / Libre Solar
 */

/dts-v1/;
#include <st/g4/stm32g431Xb.dtsi>

/ {
	model = "Libre Solar MPPT 2420 HPX";
	compatible = "st,stm32g431";

	pcb {
		compatible = "charge-controller";

		type = "MPPT 2420 HPX";
		version-str = "v0.1";
		version-num = <1>;

		hs-voltage-max = <80>;
		ls-voltage-max = <32>;
	};

	dcdc {
		compatible = "dcdc";
		pwm-frequency = <70000>;
		pwm-deadtime = <300>;
		current-max = <20>;
	};

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		pwr {
			gpios = <&gpioc 15 GPIO_ACTIVE_HIGH>;
			label = "Power LED";
		};
	};

	outputs {
		compatible = "outputs";
		pwm_switch {
			label = "PWM power switch (solar panel)";
			pwms = <&pwm3 2 (20*1000*1000)>; /* 20 ms period = 50 Hz */
			current-max = <20>;
			kconfig-flag;	/* make node visible in Kconfig */
		};
		load {
			label = "Load output";
			gpios = <&gpiob 15 GPIO_ACTIVE_LOW>;
			current-max = <20>;
		};
		charge_pump {
			label = "Charge pump for HS MOSFET drivers";
			pwms = <&pwm3 1 200000>; /* 200 us period = 5 kHz */
		};
	};

	aliases {
		uart-dbg = &usart1;
		uart-uext = &usart3;
		spi-uext = &spi1;
		i2c-uext = &i2c1;
	};
};

&usart1 {
	current-speed = <115200>;
	status = "okay";
};

&usart3 {
	current-speed = <115200>;
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&spi1 {
	cs-gpios = <&gpiod 2 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&usb {
	status = "okay";
};

&rtc {
	status = "okay";
};

&flash0 {
	/*
	 * For more information, see:
	 * http://docs.zephyrproject.org/latest/guides/dts/index.html#flash-partitions
	 */
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* Set 4Kb of storage at the end of the 128Kb of flash */
		storage_partition: partition@1f000 {
			label = "storage";
			reg = <0x0001f000 0x00001000>;
		};
	};
};

&iwdg {
	status = "okay";
};

/*
 * TIM3 used for charge pump (CH1) and PWM power switch (CH2)
 * (originally planned TIM8 for charge pump not working with current Zephyr driver)
 */
&timers3 {
	status = "okay";
	pwm3: pwm {
		status = "okay";
	};
};

&i2c3 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	eeprom@50 {
		// Microchip 24AA32A
		compatible = "atmel,at24";
		reg = <0x50>;
		label = "EEPROM_0";
		size = <32768>;
		pagesize = <32>;
		address-width = <16>;
		/*
		 * timeout of 5 ms as suggested in datasheet seems too optimistic
		 * (several write errors occured during testing)
		 */
		timeout = <7>;
	};
};
