# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2019 Martin Jäger (Libre Solar)
#
# Generic Libre Solar Charge Controller configuration
#

source "$(BOARD_DIR)/../../Kconfig.hidden"

source "$(BOARD_DIR)/../../Kconfig.user"
