# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2019 Martin Jäger / Libre Solar

if BOARD_MPPT_1210_HUS

config BOARD
	default "mppt_1210_hus"

config LIBRE_SOLAR_TYPE_ID
	default 4

if SPI

config SPI_STM32_INTERRUPT
	default y

endif # SPI

endif # BOARD_MPPT_1210_HUS_0V7
