/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2020 Martin Jäger / Libre Solar
 */

/dts-v1/;
#include <st/l0/stm32l073Xz.dtsi>

/ {
	model = "Libre Solar MPPT 1210 HUS v0.7";
	compatible = "st,stm32l073";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		a {
			gpios = <&gpiob 13 GPIO_ACTIVE_HIGH>;
			label = "LED pin A";
		};
		b {
			gpios = <&gpiob 14 GPIO_ACTIVE_HIGH>;
			label = "LED pin B";
		};
		c {
			gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>;
			label = "LED pin C";
		};
	};

	switches {
		compatible = "switch";
		load {
			gpios = <&gpioc 13 GPIO_ACTIVE_HIGH>;
			label = "Load enable";
		};
		usb-pwr {
			gpios = <&gpiob 10 GPIO_ACTIVE_HIGH>;
			label = "USB charging port enable";
		};
		v-solar {
			gpios = <&gpioc 14 GPIO_ACTIVE_HIGH>;
			label = "Solar voltage measurement enable";
		};
		boot0 {
			gpios = <&gpiob 12 GPIO_ACTIVE_HIGH>;
			label = "BOOT0 pin trigger";
		};
	};
	aliases {
		uart-dbg = &usart1;
		uext-uart = &usart2;
		spi-uext = &spi1;
		i2c-uext = &i2c1;
	};
};

&usart1 {
	current-speed = <115200>;
	status = "okay";
};

&usart2 {
	current-speed = <115200>;
	status = "okay";
};

&i2c1 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&spi1 {
	status = "okay";
};

&iwdg {
	status = "okay";
};

&adc1 {
	status = "okay";
};

&eeprom {
	status = "okay";
};
