# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2019 Martin Jäger / Libre Solar

if BOARD_MPPT_1210_HUS_0V4

config BOARD
	default "mppt_1210_hus_0v4"

config HAS_LOAD_OUTPUT
	default y

config HAS_USB_PWR_OUTPUT
	default y

if UART_CONSOLE

config UART_2
	default y

endif # UART_CONSOLE

if I2C

config I2C_1
	default y

endif # I2C

if SPI

config SPI_1
	default y

config SPI_STM32_INTERRUPT
	default y

endif # SPI

endif # BOARD_MPPT_1210_HUS_0V4
