/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2019 Martin Jäger / Libre Solar
 */

/dts-v1/;
#include <st/l0/stm32l073Xz.dtsi>

/ {
	model = "Libre Solar MPPT 1210 HUS v0.4";
	compatible = "st,stm32l073rz-nucleo", "st,stm32l073";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		led_pin_gnd: led_gnd {
			gpios = <&gpiob 14 GPIO_INT_ACTIVE_LOW>;
			label = "LED GND";
		};
		led_pin_soc12: led_soc12 {
			gpios = <&gpiob 13 GPIO_INT_ACTIVE_HIGH>;
			label = "LED SOC12";
		};
		led_pin_soc3: led_soc3 {
			gpios = <&gpiob 2 GPIO_INT_ACTIVE_HIGH>;
			label = "LED SOC3";
		};
		led_pin_rxtx: led_rxtx {
			gpios = <&gpiob 11 GPIO_INT_ACTIVE_HIGH>;
			label = "LED RXTX";
		};
		led_pin_load: led_load {
			gpios = <&gpiob 10 GPIO_INT_ACTIVE_HIGH>;
			label = "LED Load";
		};
		pin_usb_pwr_en: tmp_usb_pwr_en {
			gpios = <&gpiob 12 GPIO_INT_ACTIVE_HIGH>;
			label = "USB power enable";
		};
	};

	aliases {
		led-a = &led_pin_gnd;
		led-b = &led_pin_soc12;
		led-c = &led_pin_soc3;
		led-d = &led_pin_rxtx;
		led-e = &led_pin_load;
		usb-pwr-en = &pin_usb_pwr_en;
	};
};

&usart1 {
	current-speed = <115200>;
	status = "okay";
};

&usart2 {
	current-speed = <115200>;
	status = "okay";
};

&i2c1 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&spi1 {
	status = "okay";
};

&iwdg {
	status = "okay";
};

&adc1 {
	status = "okay";
};
