# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2019 Martin Jäger / Libre Solar

if BOARD_PWM_2420_LUS

config BOARD
	default "pwm_2420_lus"

config LIBRE_SOLAR_TYPE_ID
	default 5

if SPI

config SPI_STM32_INTERRUPT
	default y

endif # SPI


endif # BOARD_PWM_2420_LUS
