name: PlatformIO CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Set up Python
      uses: actions/setup-python@v1
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install wheel
        pip install -U platformio
        platformio platform install native
        platformio update
    - name: Run trailing white space check with git
      run: |
        git diff --check `git rev-list HEAD | tail -n 1`..
    - name: Run PlatformIO build tests
      run: |
        bash scripts/check.sh
